
<template id="editor-player-header" class="header grid">

	<i role="icon" class="fa fa-fw icon circle stroke baseline {{this.icon||'fa-dot-circle'}}" style="align-self:baseline;color:{{this.iconcolor||'inherit'}}"></i>
	<h2 class="title text-stroke ellipsis nomargin">Player</h2>
	<i class="ns smaller ellipsis">Play files</i>
	<div class="right cr ci xxl">
		<input type="range" name="volume" class="slider" min="0" max="100" value="0" oninput="dom.nextInt(this);app.player.volume=this.value" onchange="dom.nextInt(this)">
		<output class="wm6 raleway smaller" style="min-width:40px;text-align:right;" value="0"></output>
		<input type="checkbox" class="checkbox state fa fa-volume-high sm w3-round-large" name="mute" title="Mute on" onchange="app.player.toggle(this.name);dom.toggleTitle(this)" style="min-width:45px;">
		<input type="checkbox" class="checkbox state fa queue sm w3-round-large" name="queue" title="Queue on" onchange="app.player.toggle(this.name);dom.toggleTitle(this)" >
		<input type="checkbox" class="checkbox state fa fa-shuffle sm w3-round-large" name="shuffle" title="Shuffle on" onchange="app.player.toggle(this.name);dom.toggleTitle(this)">
		<input type="checkbox" class="checkbox state fa repeat sm w3-round-large" name="repeat" title="Repeat on" onchange="app.player.toggle(this.name);dom.toggleTitle(this)">
		<button class="icon fa fa-play fa-fw" name="play" title="Play" onclick="app.player.toggle('play')" style="min-width:36px;"></button>
		<button class="icon fa sm fa-fast-backward" name="prev" title="Previous" onclick="app.player.prev()"></button>
		<button class="icon fa sm fa-fast-forward" name="next" title="Next" onclick="app.player.next()"></button>
	</div>
	<div class="toolbar cr ci">
		<button name="new" class="icon fa playlist sm relative" title="New playlist"><i class="fa plus"></i></button>
		<button name="remove" class="icon fa" title="Remove"></button>
		<button name="import" class="icon fa folder sm relative" title="Import" cmd="player-import-files"><i class="fa plus"></i></button>
	</div>
	<div class="progress cr ci">
		<input class="fit slider" type="range" min="1" max="100" value="0" disabled>
		<time class="smaller italic bold wm6 raleway" style="min-width:40px">0:00</time>
	</div>
</template>

<template id="editor-player-base" class="editor column fit container color-icons">
	<div class="cr ci w3-margin-4" role="filter">
		<input class="fit" name="filter" placeholder="filter" autocomplete="off" spellcheck="false">
		<input type="checkbox" class="checkbox fa fa-arrow-pointer fa-fw state w3-round w3-margin-right" name="select" title="Select on" style="margin-left:auto;min-width:30px" onchange="dom.toggleTitle(this)">
	</div>
	[[scrollable-list,div list]]
</template>

<template id="editor-tabs" class="tabbar cr w3-padding-ver-8 margin-top">
	<span class="tab active" tab="{{this[0]}}">{{this[0]}}</span>
	@foreach{{this.slice(1)}}
		<span class="tab" tab="{{this}}">{{this}}</span>
	@endforeach
</template>

<template id="editor-player-content-base" class="column hidden">
	<div class="show-container-empty">
		<h2 class="wm2 italic text-center">Drag and drop media files</h2>
	</div>
	<div class="container-empty column" role="main" group></div>
</template>

<template id="edior-player-track-item-file" class="track grid item file noevents ci w3-padding-tiny w3-margin-right" data-id="{{this.id}}">
	<div class="title cr ci ellipsis">
		<i class="fa stroke {{this.type||'audio'}}"></i>
		<span class="fit marquee-container ellipsis">
			<h4 class="ellipsis nomargin marquee" role="title">{{fileX.getTitle(this)}}</h4>
		</span>
	</div>
	<i class="desc ellipsis smaller" role="desc">{{this.desc||fileX.getDescriptionFromMeta(this)}}</i>
	<button class="icon fa sm fa-fw fa-minus display-hover actions" name="delete" title="Remove" onclick="app.player.delete(dom.id(this))"></button>
	<span class="time small bold watermark-8">{{this.duration ? fileX.getDuration(this.duration) : ''}}</span>
	<div class="star-ratings" data-rating="{{fileX.getRating(this)}}"></div>
</template>


<template id="editor-player-files" class="w3-ul files count w3-margin-left fade" collapsable>
	@foreach{{this}}
		<li class="cr w3-padding-ver-8 ci">
			<i class="fa" name="{{this.type}}"></i>
			<div class="fit ellipsis">{{this.name}}</div>
			<b class="w3-small w3-col s1 w3-right-align">{{size(this.size)}}</b>
		</li>
	@endforeach
</template>

<template id="editor-player-radio" class="container-col w3-margin radio">
	<div class="cr">
		<div class="container-col fit">
			<h2 class="fit ellipsis nomargin watermark-8" role="name">{{this.name}}</h2>
			<p><i>{{this.desc||'No desc'}}</i></p>
		</div>
		<button class="icon fa fa-3x margin-right stroke" name="play" title="Play" cmd="player-radio" data-id="{{this.code}}" state="play"></button>
	</div>
	<h3>Chat</h3>
	<div class="container-col max-width">
		<div class="input row input-area ci allevents w3-padding-tiny">
			<div name="comment" contenteditable role="textbox" class="fit expandable-textarea"></div>
			<button class="icon fa smile margin-left-tiny" name="emoji" title="Emoji" tabindex="-1"></button>
			<button class="icon fa fa-send" name="send" title="Send" disabled></button>
		</div>
		<div class="container-col list" role="chat"></div>
	</div>
</template>

<template id="editor-player-files-size" class="smaller fit ellipsis desc">
	{{this.length}} files, total size {{size(this.map(i => i.size))}}
</template>

<template id="editor-player-sidebar" class="column fit show-empty fa-color-icons">

	<div class="group column relative badge" badge="true" name="queue">
		<div class="group-header noevents cr ci m2" grouphdr="">
			<i class="fa sm fa-angle-down group-arrow stroke"></i>
			<i class="fa icon sm queue"></i>
			<span class="title fit ellipsis w3-padding-tiny ">Queue</span>
			<button class="icon fa sm display-hover " title="Clear" name="clear" onclick="app.player.clear()"></button>
		</div>
		<div class="content fade column hidable" visible="100" template="editor-player-sidebar-queue-item" group="queue"></div>
	</div>

	<div class="group column relative badge" badge="true" name="recent">
		<div class="group-header noevents cr ci m2" grouphdr="">
			<i class="fa sm fa-angle-down group-arrow stroke"></i>
			<i class="fa icon sm recent"></i>
			<span class="title fit ellipsis w3-padding-tiny ">Recent</span>
			<button class="icon fa sm display-hover " title="Add" name="add" cmd="add-new-playlist"></button>
			<button class="icon fa sm display-hover " title="Clear" name="clear" cmd="player-recent-clear" onclick="app.player.clearRecent()"></button>
			<button class="icon fa fa-caret-up stroke watermark-8 fade display-hover" name="_less" title="Less"></button>
		</div>
		<div class="content fade column hidable" visible="100" template="editor-player-sidebar-playlist-file" group="recent"></div>
	</div>
</template>

<template id="editor-player-sidebar-queue-item" class="cr m5 w3-padding-small padding-hor-4 noevents ci" onclick="app.player.playFile(this.dataset.id,false)">
	<i class="fa smaller {{this.type}}"></i>
	<i class="title fit ellipsis">{{fileX.getTitle(this)}}</i>
	<div class="row ci display-hover">
		<button class="icon fa xs fa-angle-up" name="up" title="Move up" onclick="app.player.up(dom.id(this));"></button>
		<button class="icon fa sm" name="delete" title="Remove" onclick="app.player.remove(dom.id(this))"></button>
	</div>
</template>

<template id="editor-player-sidebar-playlist-file" class="cr m5 ci w3-padding-small noevents si" onclick="app.player.playFile(this.dataset.id,true)">
	<i class="fa smaller {{this.type}}"></i>
	<span class="fit2 ellipsis">{{fileX.getTitle(this)}}</span>
	<i class="smaller fit ellipsis text-center hide-small hide-empty">{{fileX.getAlbum(this)}}</i>
	<b class="small text-right">{{fileX.getDuration(this.duration)}}</b>
</template>

<template id="editor-player-new-playlist-file" class="item cr m5 ci w3-padding-small noevents si">
	<i class="fa smaller {{this.type}} w3-margin-left"></i>
	<span class="fit2 ellipsis">{{fileX.getTitle(this)}}</span>
	<i class="smaller fit ellipsis text-center hide-small hide-empty">{{fileX.getAlbum(this)}}</i>
	<b class="small text-right">{{this.duration?fileX.getDuration(this.duration):''}}</b>
	<button name="rm" class="icon fa"></button>
</template>

