<!-- The Modal -->
<div id="modal-dialog" class="modal">

	<!-- Modal content -->
	<div class="modal-content inconsolata-li">
		<!-- <span class="close">&times;</span> -->
		<button class="icon fa fa-xmark close" name="close"></button>
		<h1 class="wm8"><div class="app-logo" style="margin-right: 10px;"></div>Music Player</h1>
		<p>Web application for playing local media files</p>
		<table class="wm8">
			<thead>
				<tr>
					<th align="left"></th>
					<th align="left"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="left"><strong>Site</strong></td>
					<td align="left"><a class="nounderline" href="https://www.sipme.io" target="_blank" title="Go to site">sipme.io</a></td>
				</tr>
				<tr>
					<td align="left"><strong>Source code</strong></td>
					<td align="left"><a class="nounderline" href="https://github.com/freetalk-team/player" target="_blank" title="Go to github">github.com</a></td>
				</tr>
				<tr>
					<td align="left"><strong>Contact</strong></td>
					<td align="left"><a>team.freetalk@gmail.com</a></td>
				</tr>
			</tbody>
		</table>
		<h2 class="wm8">License</h2>
		<p>Public, free</p>
		<h2 class="wm8">Version</h2>
		<p>1.0.1</p>
		<h2 class="wm8">Author</h2>
		<p><b>Pavel Patarinski</b><br><a>pavelp.work@gmail.com</a></p>
	</div>

</div>